body {
    background-color: gold !important;
}
header {
    width: 100%;
    background-color: black;
}
section {
    padding-top: 80px; 
    margin-top: -80px; 
    position: relative; 
    z-index: 0;
}
.menu-title {
    color: black;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.nav-item i {
    color: white;
}
.nav-label {
    color: white;
    text-align: center;
}
.dropdown-menu {
    min-width: auto !important;
}
#logo {
    height: 50px;
    padding: 0;
    margin: 0;
}
#coverpage {
    padding-top: 90px; 
    margin-top: 70px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    transition: margin-top 0.5s ease, padding-top 0.5s ease;
}
#profile {
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;   
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
}
.carousel-item, .carousel-item i {
    color: #966919;
    font-weight: bold;
}
.carousel-indicators {
    margin-top: 15px;
    position: relative !important;
}
.carousel-indicators [data-bs-target] {
    background-color: #966919 !important;
}
.custom-mycards {
    background-color: gold !important;
    color: #966919;
    font-weight: bold;
}
.my-list-group {
    --bs-list-group-bg: gold !important;
    --bs-list-group-border-color: rgba(255, 215, 0, 0.5) !important;
    --bs-list-group-item-padding-x: 0.5rem !important;
    --bs-list-group-item-padding-y: 0.3rem !important;
}
.list-group-item {
    color: #966919 !important;
}
.summary-para {
    color: #966919;
    font-weight: bold;
    text-align: justify;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline::before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: yellow;
    left: 50%;
    margin-left: 0;
}
@media screen and (max-width: 768px) {
    .timeline::before {
      margin-left: -64px;
    }
}
@media screen and (max-width: 480px) {
    .timeline::before {
      margin-left: -64px;
    }
}
@media screen and (max-width: 768px) {
    .timeline .timeline-heading {
      margin-bottom: 30px;
    }
}
.timeline .timeline-heading > div h4 {
    display: inline-block;
    padding: 7px 15px;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 18px;
    background: yellow;
    color: #966919;
  }
@media screen and (max-width: 768px) {
    .timeline .timeline-heading > div h4 {
      float: left;
      margin-bottom: 0;
    }
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
@media screen and (max-width: 768px) {
    .timeline > li {
        margin-bottom: 4em;
    }
}
.timeline > li::before, .timeline > li::after {
    content: " ";
    display: table;
}
.timeline > li::after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 45%;
    float: left;
    margin-bottom: 0;
    position: relative;
    border-radius: 4px;
}
@media screen and (max-width: 768px) {
    .timeline > li > .timeline-panel {
      width: 85% !important;
    }
}
@media screen and (max-width: 480px) {
    .timeline > li > .timeline-panel {
      width: 75% !important;
    }
    .timeline > li > .timeline-panel::before {
      top: 30px;
    }
    .timeline > li > .timeline-panel::after {
      top: 31px;
    }
}
.timeline > li > .timeline-badge {
    color: #966919;
    background-color: yellow;
    width: 45px;
    height: 45px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -21px;
    z-index: 100;
    display: table;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    .timeline > li > .timeline-badge {
      margin-left: -10px !important;
    }
}
@media screen and (max-width: 992px) {
    .timeline > li > .timeline-badge {
      margin-left: -10px !important;
    }
}
.timeline > li > .timeline-badge i {
    display: table-cell;
    vertical-align: middle;
    height: 45px;
    font-size: 18px;
}
.timeline > li.timeline-unverted {
    text-align: right;
}
@media screen and (max-width: 768px) {
    .timeline > li.timeline-unverted {
      text-align: left;
    }
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-title {
    margin-top: 0;
}
.company {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #966919;
}
.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
.timeline-body > p {
    color: #966919;
}
@media (max-width: 992px) {
    ul.timeline::before {
      left: 90px;
    }
  
    ul.timeline > li > .timeline-panel {
      width: calc(100% - 200px);      
    }
  
    ul.timeline > li > .timeline-badge {
      left: 15px;
      margin-left: 0;
      top: 16px;
    }
  
    ul.timeline > li > .timeline-panel {
      float: right;
    }
  
    ul.timeline > li > .timeline-panel::before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
  
    ul.timeline > li > .timeline-panel::after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
}
.progress, .progress-bar {
    --bs-progress-bar-color: rgba(255, 255, 0, 0.7) !important;
    --bs-progress-bg: rgba(255, 255, 0, 0.7) !important;
    --bs-progress-bar-bg: #966919 !important;
    height: 0.7rem !important;
}
.skills, .percentage {
    color: #966919;
}
.percentage {
    float: right;
}
#requestCV {
    display: block;
    text-align: center;
}
button > i {
    color: #966919;
}
.alert-warning {
    --bs-alert-bg: #f7ed64 !important;
    opacity: 0.8;
}
.code {
    height: 250px; 
    width: 100%;
    text-decoration: none;
    display: table;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 1px solid #966919;
}
.code .code-div {
    display: table-cell;
    vertical-align: middle;
    height: 250px;
    background: yellow;
    opacity: 0;
    transition: 0.3s;
    border-radius: 15px;
}
.code .code-div h4 {
    font-size: 30px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, -15px, 0);
}
.code .code-div span {
    display: block;
    color: #966919;
    font-size: 20px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, 15px, 0);
}
.code:hover .code-div {
    opacity: 1;
}
.code:hover .code-div h4 {
    transform: translate3d(0, 0, 0);
}
.code:hover .code-div span {
    transform: translate3d(0, 0, 0);
}
#contact-form > div > input,
#contact-form > div > textarea {
    background: linear-gradient(to bottom, gold, yellow);
    color: #966919;
    font-weight: normal;
    border: 1px solid #966919;
}
.contact-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    color: #966919;
    font-weight: bold;
    text-align: left;
}
.socials {
    padding: 1.5rem 0;
    display: inline-block;
}
.socials > a > i {
    background-color: yellow;
    color: #966919;
    width: 45px;
    height: 45px;
    line-height: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;    
    border-radius: 50%;
    margin: 0 15px 0 0;
    z-index: 100;
    box-shadow: 0 0 0 3px #966919;
    transition: all 500ms ease;
}
.img-smt {
    margin-top: 30px;
    height: 250px;
    width: 100%;
    border: 2px solid #966919;
    border-radius: 10px;
}
.img-smm {
    margin-top: 30px;
    height: 350px;
    width: 100%;
    border: 2px solid #966919;
    border-radius: 10px;
}
.card-blog .card-body {
    position: relative;
    height: 340px;
}
.card-blog .card-title {
    font-size: 1.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    color: #966919;
    text-align: center;
}
.card-blog .card-description {
    color: #966919;
    text-align: justify;
}
.img-fluid {
    height: 250px !important;
    width: 100%;
    border: 1px solid #966919;
}
.time-to-read {
    float: right;
    color: #966919;
}
.card-footer > a {
    text-decoration: none;
    color: #966919;
    font-weight: bold;
}
.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
@media (max-width: 1024px) {
    .bg-image {
        background-attachment: scroll;
    }
}
.slider-box {
    text-align: center;
    color: #966919;
}
.slider-box .brand-title {
    margin-top: 1rem;
}
.slider-box .brand-title img {
    margin: 0 auto;
}
.slider-box .logo-text {
    color: #966919;
    font-weight: bold;
    margin: 1rem 0;
    display: block;
    font-size: 1.2rem;
}
.brand-title > img {
    height: 100px;
    border-radius: 10px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: #966919;
    background-color: gray;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 2px solid #966919;
}
#warningBox {
    border: 1px solid red;
    background-color: red;
    color: white;
    margin: auto auto;
    border-radius: 5px;
    width: 100%;
}
#warningBox > p {
    padding-top: 10px;
}
.close-btn {
    float: right;
    cursor: pointer;
    padding: 3px;
    margin-top: 0;
    margin-left: 3px;
    border-radius: 5px;
    border: 2px solid black;
}
#hidden-card {
    text-align: justify;
    color: #966919;
    font-weight: normal;
}
.card-title {
    color: #966919 !important;
    text-align: center;
    font-weight: bold;
}